@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Gilroy-Medium";
  src: url("../src/assets/font/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../src/assets/font/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../src/assets/font/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: extrabold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("../src/assets/font/Gilroy-Heavy.ttf") format("truetype");
  font-weight: heavy;
  font-style: normal;
}
